@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--wrapper: 2.5rem;
	--header: 4.5rem;
	--section: 5rem;
	--default-border: 1rem;

	--neutral: #000000;

	--text-100: #141415;
	--text-200: #1f2937;

	--gray-100: #666666;
	--gray-200: #333333;
	--gray-300: #292929;
	--gray-400: #27272a;
	--gray-500: #1e1f20;
	--gray-600: #1c1b1f;
}

html.dark {
	--text-100: #c4c4c4;
	--text-200: #a1a1aa;

	--neutral: #ffffff;
}

@media (min-width: 1024px) {
	:root {
		--wrapper: 7.5rem;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
}

html {
	scroll-behavior: smooth;
	font-family: var(--font-inter);
}

body {
	color: var(--text-100);
	background: linear-gradient(to bottom, rgb(var(--gray-500)), rgb(var(--gray-600)));
	width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Input Clear Button */
input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

buttton:active {
	transform: scale(0.96);
}
